@import "./assets/fonts/flaticon/flaticon.css";
@import "./assets/fonts/icofont/icofont.min.css";
@import "./assets/fonts/fontawesome/fontawesome.min.css";
@import "./assets/vendor/venobox/venobox.min.css";
@import "./assets/vendor/niceselect/nice-select.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./assets/css/main.css";
@import "./assets/css/home-category.css";
@import "@/assets/css/user-auth.css";
@import "@/assets/css/brand-single.css";
@import "@/assets/css/product-details.css";
@import "@/assets/css/checkout.css";
@import "nprogress/nprogress.css";
@import "@/assets/css/orderlist.css";

#nprogress .bar {
  background: #f6fdf8 !important;
  padding: 0 10px !important;
  height: 4px !important;
}

#nprogress .spinner .spinner-icon {
  border-top-color: #ffffff !important;
  border-left-color: #ffffff !important;
}
